body {
  margin: 0;
}

.motch-container {
  background: url(images/background1.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.table-for-shits {
  height: 100%;
  margin: auto;
  width: 200px;
  display: block;
}

.empty-motch {
  width: 100%;
}


/* Old shit */
.mitch-pic {
  width: 227px;
  height: 300px;
}

.mitch-pic-square {
  width: 300px;
  height: 300px;
}

.hidden {
  display: none;
}
